<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <section class="vh-100 bg-light">
        <div class="container py-2 h-100">
            <div class="row d-flex justify-content-center align-content-start align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-4">

                            <form th:action="@{/security/login}" method="post">
                                <h3 class="mb-5">Sign in</h3>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="typeUsernameX-2">Username</label>
                                    <input type="text" id="typeUsernameX-2" name="username" class="form-control" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="typePasswordX-2">Password</label>
                                    <input type="password" id="typePasswordX-2" name="password" class="form-control" />
                                </div>

                                <!-- Checkbox -->
                                <div class="form-check d-flex justify-content-start mb-4">
                                    <input class="form-check-input me-2" type="checkbox" name="remember-me" id="form1Example3" />
                                    <label class="form-check-label" for="form1Example3"> Remember password? </label>
                                </div>

                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" type="submit">Login</button>
                                </div>

                                <hr class="my-4">

                                <div class="d-grid gap-2 mb-4">
                                    <a th:href="@{/oauth2/authorization/google}" class="btn btn-primary mb-2" style="background-color: #dd4b39;"><i
                                            class="fab fa-google me-2"></i>
                                        Sign in with google</a>
                                    <a th:href="@{/oauth2/authorization/facebook}" class="btn btn-primary mb-2" style="background-color: #3b5998;"><i
                                            class="fab fa-facebook-f me-2"></i>Sign
                                        in with facebook</a>
                                </div>
                                <h4 class="text-danger mb-2">[(${message})]</h4>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>