<head>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <span class="float-start">USER LIST</span>
        <div class="btn-group">
            <a href="/admin/users/export-pdf" class="btn btn-secondary">PDF</a>
            <a href="/admin/users/export-excel" class="btn btn-secondary">EXCEL</a>
            <a href="/admin/users/export-csv" class="btn btn-secondary">CSV</a>
        </div>

    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Image</th>
                    <th>Provider</th>
                    <th>Enabled?</th>
                    <th>Verify Code</th>
                    <th>Reset PW Token</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in pager.items">
                    <th>{{item.id}}</th>
                    <th>{{item.username}}</th>
                    <th>{{item.password | limitTo: 10 }}{{item.password.length > 10 ? '...' : ''}}</th>
                    <th>{{item.email}}</th>
                    <th>{{item.phone}}</th>
                    <th>{{item.image_url | limitTo: 10 }}{{item.image_url.length > 10 ? '...' : ''}}</th>
                    <th>{{item.provider}}</th>
                    <th>{{item.enabled?'Yes':'No'}}</th>
                    <th>{{item.verify_code | limitTo: 10 }}{{item.verify_code.length > 10 ? '...' : ''}}</th>
                    <th>{{item.reset_pwd_token | limitTo: 10 }}{{item.reset_pwd_token.length > 10 ? '...' : ''}}</th>
                    <th>
                        <div class="btn-group btn-group-xs">
                            <button class="btn btn-sm btn-secondary" ng-disabled="item.provider !== 'DATABASE'" ng-click="edit(item)">Edit</button>
                            <button class="btn btn-sm btn-danger" ng-click="delete(item)">Del</button>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center ">
        <div class="justify-content-center btn-group btn-group-xs">
            <button class="btn btn-secondary btn-sm" ng-click="pager.first()">&lArr;</button>
            <button class="btn btn-secondary btn-sm" ng-click="pager.prev()">&larr;</button>
            <button class="btn btn-secondary btn-sm">{{pager.page+1}} of {{pager.count}}</button>
            <button class="btn btn-secondary btn-sm" ng-click="pager.next()">&rarr;</button>
            <button class="btn btn-secondary btn-sm" ng-click="pager.last()">&rArr;</button>
        </div>
    </div>
</div>