<div class="card">
    <div class="card-header">PRODUCT EDITION</div>
    <div class="card-body">
        <form class="form" name="myform" novalidate>
            <div class="mb-3">
                <label for="image">
                    <img ng-src="{{'/assets/images/'+ (form.image || 'default-product.jpg')}}" style="max-width: 20vw; max-height: 20vh;">
                </label>
            </div>
            <div class="mb-3">
                <label>Name:</label>
                <input ng-model="form.name" name="name" type="text" class="form-control" required>
                <div class="text-danger" ng-show="myform.name.$invalid">Please enter a valid name.</div>
            </div>
            <div class="mb-3">
                <label>Price:</label>
                <input ng-model="form.price" name="price" type="number" class="form-control" min="1000" title="Min price is 1000 VND" required>
                <div class="text-danger" ng-show="myform.price.$invalid">Please enter a valid price.</div>
            </div>
            <div class="mb-3">
                <label>Image:</label>
                <input type="file" class="form-control" id="image" onchange="angular.element(this).scope().imageChanged(this.files)" ng-model="form.image">
            </div>
            <div class="mb-3">
                <label>Category:</label>
                <select ng-model="form.category.id" ng-init="form.category.id = cates[0].id" class="form-control">
                    <option ng-repeat="c in cates" ng-value="c.id">{{c.name}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label>Create Date:</label>
                <input ng-model="form.create_date" type="date" class="form-control" readonly>
            </div>
            <div class="mb-3">
                <label>Available?</label>
                <div class="form-control" ng-init="form.available=true">
                    <label class="radio-inline">
                        <input type="radio" ng-model="form.available" ng-value="true" name="available">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="form.available" ng-value="false" name="available">No
                    </label>
                </div>
            </div>
            <button ng-disabled="myform.$invalid" ng-click="create()" type="submit" class="btn btn-success">Create</button>
            <button ng-disabled="myform.$invalid" ng-click="update()" type="submit" class="btn btn-primary">Update</button>
            <button ng-click="delete(form)" type="submit" class="btn btn-danger">Delete</button>
            <button ng-click="reset()" type="submit" class="btn btn-secondary">Reset</button>
        </form>
    </div>
</div>