<div class="card mb-3">
    <div class="card-header">
        <b>Category</b>
    </div>
    <div class="list-group">
        <button ng-repeat="ca in cates" ng-click="filterProductByCategory(ca.id)" class="list-group-item list-group-item-action">{{ca.name}}</button>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header">
        <b>Price range</b>
    </div>
    <div class="list-group">
        <button ng-repeat="ca in cates" ng-click="filterProductByCategory(ca.id)" class="list-group-item list-group-item-action">{{ca.name}}</button>
    </div>
</div>