<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous" defer></script>
    <!-- font awsome -->
    <script src="https://kit.fontawesome.com/e136359f35.js" crossorigin="anonymous" defer></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>

<body>
    <nav th:replace="~{/user/component/_header::header}"></nav>

    <main class="container-fluid" role="main">

        // carousel
        <div id="carouselExampleFade" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="width: 100vw; height: 60vh;" src="https://dxc.scene7.com/is/image/dxc/AdobeStock_314697504_DQ2:banner_desktop"
                        class="d-block img" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>At DXC we value our customer expericence</h5>
                        <p>We strive our best to fulfill customer expectation and beyond.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img style="width: 100vw; height: 60vh;" src="https://d2bs8hqp6qvsw6.cloudfront.net/article/images/740x500/dimg/dxc_technology_soc_1_1.jpg"
                        class="d-block img" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Fortrune 500 Companies</h5>
                        <p>We grateful to become one of the best working place in technology sector.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img style="width: 100vw; height: 60vh;" src="https://dxc.scene7.com/is/image/dxc/AdobeStock_314697504_DQ2:banner_desktop" class="d-block "
                        alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>We value our employees and their idea</h5>
                        <p>Our incredible employees is the lifeblood of our company, we will and are striving to meet our employees expectations.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </main>

    <nav th:replace="~{/user/component/_footer::footer}"></nav>





</body>

</html>