<!-- footer -->
<footer class="pt-4">
    <div class="container-fluid text-center text-md-left bg-light">
        <div class="container pt-4">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">
                        <div class="figure">
                            <img src="https://dxc.com/content/dam/dxc/projects/dxc-com/us/images/about-us/newsroom/logos-for-media/horizontal/DXC%20Logo%20Horiz_Purple+Black%20RGB.png"
                                class="figure-img img-fluid rounded  my-auto" width="200" alt="...">
                        </div>
                    </h5>
                    <p>DXC Technology (NYSE: DXC) helps global companies run their mission critical systems and operations while modernizing IT, optimizing
                        data architectures, and ensuring security and scalability across public, private and hybrid clouds.</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Popular Category</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none">IT Outsourcing</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none">Cloud</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none">Application</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none">Investors</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Our company</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none ">About DXC</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none">Contact us</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none">Careers</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center py-3">© 2022 Copyright:
                <a href="http://www.niemvuilaptrinh.com/" target="_blank"> To Minh Tri</a>
            </div>
        </div>
    </div>
</footer>