<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous" defer></script>
</head>

<body>
    <header class="div">
        <!-- first navbar header -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-2">
            <div class="container">
                <a class="navbar-brand " href="#">
                    <div class="figure">
                        <img src="https://dxc.com/content/dam/dxc/projects/dxc-com/us/images/about-us/newsroom/logos-for-media/horizontal/DXC%20Logo%20Horiz_Purple+Black%20RGB.png"
                            class="figure-img img-fluid rounded  my-auto" width="200" alt="...">
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Services
                            </a>
                            <div class="dropdown-menu dropright " aria-labelledby="navbarDropdown">
                                <a class="dropdown-item dropdown-toggle" href="#">IT Outsource</a>
                                <a class="dropdown-item dropdown-toggle" href="#">IT Outsource</a>
                                <a class="dropdown-item dropdown-toggle" href="#">IT Outsource</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                About us
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item dropdown-toggle" href="#">IT Outsource</a>
                                <a class="dropdown-item dropdown-toggle" href="#">IT Outsource</a>
                                <a class="dropdown-item dropdown-toggle" href="#">IT Outsource</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Insights
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item dropdown-toggle" href="#">IT Outsource</a>
                                <a class="dropdown-item dropdown-toggle" href="#">IT Outsource</a>
                                <a class="dropdown-item dropdown-toggle" href="#">IT Outsource</a>
                            </div>
                        </li>

                        <!-- Button trigger modal -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">Careers</a>
                        </li>
                    </ul>
                    <div class="row">
                        <form class="mb-2 input-group col-md-4 col-sm-12" role="search">
                            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input class="form-control me-2 shadow-none" type="search" placeholder="Search" aria-label="Search">
                        </form>
                    </div>

                    <!-- user -->
                    <div class="btn-group row me-2">
                        <div class="dropdown mb-2">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-user"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                <c:if test="${! isLogin}">
                                    <li><a class="dropdown-item" href="/auth/login/form">Login</a></li>
                                    <li><a class="dropdown-item" href="/account/signup">Signup</a></li>
                                    <li><a class="dropdown-item" href="#">Forgotpassword</a>
                                </c:if>
                                <c:if test="${isLogin}">
                                    <li><a class="dropdown-item" href="#">Changepassword</a></li>
                                    <li><a class=" dropdown-item" href="/account/update">Edit Profile</a></li>
                                    <li><a class="dropdown-item" href="/auth/logoff" th:href="@{/auth/logoff}">Logout</a></li>
                                </c:if>
                            </ul>
                        </div>
                    </div>

                    <!-- cart -->
                    <div class="btn-group row">
                        <!--CART BUTTON -->
                        <a href="/cart/view" class="btn btn-outline-secondary mb-2 ">
                            <div></div><i class="fa-solid fa-cart-shopping"></i> <span class="badge bg-success text-white rounded-pill" id="cartQuantity">
                                1</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

</body>

</html>